.br-header{
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: #FFDF18;
}
.primarios{
  background-color: #FFDF18;
}
.btn-search{
    z-index: 10;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 2.5%;
    border-radius: 50%;
    background-color: #FFDF18;
    display: none;
}
.icon-search{
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  margin-top: 15px;
  background: url('../img/buscar.png');
  background-size: 20px 20px;
}

.btn-menu{
  display: block;
  float: left;
  margin-top:10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btn-menu:active{
  background-color: rgba(255, 255, 255, 0.5);
}
.icon-menu{
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  margin-top: 10px;
  background: url('../img/menu-1.png');
  background-size: 20px 20px;
}

.btn-reload{
  display: block;
  float: right;
  margin-top:10px;
  margin-right: 2.5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btn-reload:active{
  background-color: rgba(255, 255, 255, 0.5);
}
.icon-reload{
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  margin-top: 10px;
  background: url('../img/refresh.png');
  background-size: 20px 20px;
}


.load-con{
  display: block;
  float: left;
  margin-top: 10px;
  width: auto;
  height: 40px;
  min-width: 60%;
  max-width: 70%;
}


/* menu-lateral */
.menu-left{
  z-index: 15;
  position: fixed;
  top: 0px;
  left: -80%;
  width: 80%;
  bottom: 0px;
  border-right: 1px solid #EEE;
  background-color: white;
}
.cd-header{
  display: block;
  width: 100%;
  height: 120px;
  background-color: #FFDF18;
}
.btn-back{
  display: inline-block;
  margin-top:10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btn-back:active{
  background-color: rgba(255, 255, 255, 0.5);
}
.icon-back{
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  margin-top: 10px;
  background: url('../img/back.png');
  background-size: 20px 20px;
}

.ico-perforosven{
  display: block;
  margin: auto;
  margin-top: -55px;
  width: 80px;
  height: 80px;
  background: url('../img/icologo.ico');
  background-size: 80px 80px;
}
.txt-perforosven{
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Content */
.Content{
  margin-top: 65px;
  display: block;
  margin-left: 2.5%;
  width: 95%;
  height: auto;
}

/* Titulo */
.txt-tit{
  padding-top: 8px;
  text-align: left;
  font-weight: bold;
}


/* Certificaciones */
tr:nth-child(odd) {

    background-color:#f2f2f2;

}

tr:nth-child(even) {

    background-color:#fbfbfb;

}
.list-b{
  border-bottom: 1px solid #eee;
}
.list-b:hover{
	cursor: pointer;
}
.list-b:active{
	font-weight: bold;
}
.c-fech{
	font-size: 65%;
}
.txt-mat{
	display: block;
	float: left;
	width: 80%;
	height: 25px;
	overflow: hidden;
}
.st-m{
	display: block;
	float: left;
	width: 20%;
	height: 25px;
	text-align: right;
}
.ce-fech{
	font-size: 65%;
}

/* Menu */
ul{
  padding: 0px;
  margin: 0px;
}
li{
	list-style: none;
}
li.lista-cl{
	display: block;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}
li:active{
  background-color: rgba(255, 223, 24, 0.5);
  cursor: pointer;
}
.icon{
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 5%;
  float: left;
}
.icon-vin{
  background:url('../img/right-chevron.png');
  background-size: 20px 20px;
}
.icon-ws{
  background:url('../img/whatsapp.png');
  background-size: 20px 20px;
}
.txt-fl{
  float: left;
  display: block;
  padding-top: 7px;
  padding-left: 2.5%
}
a{
  text-decoration: none;
  color: #000;
}
.lista-inf{
  padding: 15px;
  background-color: #eee;
  border: 1px solid #ccc;
  text-align: center;
}

/* Estatus */
.cd-status-pr{
  z-index: 20;
  position: fixed;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.full-height {
    height: 80vh;
}
.cd-status{
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0px;
  left: 0px;
}
.icon-ind{
  width: 30px;
  height: 30px;
  background: url('../img/alertas.png');
  background-size: 30px 30px;
}
.icon-pfrs{
  display: block;
  margin: auto;
  width: 128px;
  height: 128px;
  background: url('../img/icologo.ico');
  background-size: 128px 128px;
}
.txt-msj{
  display: block;
  float: left;
  margin-top: 13px;
  margin-left: 2.5%;
  font-weight: bold;
  color: white;
}
.txt-msj-p{
  display: block;
  margin: auto;
  width: 100%;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: -170px;
}
.txt-msj-p2{
  display: block;
  margin: auto;
  width: 100%;
  font-weight: bold;
  color: #333;
  text-align: center;
}
